.back_box{
    position: fixed;
    top: 0;
    z-index: 1001;  
}
.back {
    height: .45rem;
    width: 3.75rem;
    position: relative;
    text-align: center;
    line-height: .45rem;
    .back_left{
       position: absolute;
       display: inline-block;
        left: .16rem;
        top:.05rem;
        width: .24rem;
        height: .24rem;
        border-radius: 50%;
        text-align: center;
        line-height: .24rem;
        color: #fff;
        font-size: .3rem;
    }
    .back_center{
       display: inline-block;
       font-size: .17rem;
       color: #fff
    } 
}