@import '@/lib/reset.scss';
html, baby, #root, .App, .wechat{
  @include rect(100%, 100%);
}
.wechat{
  .header {
    @include rect(100%, .44rem);
  }
  .content {
    @include rect(100%, 100%);
    padding:.33rem .32rem  0 .36rem;
    .title{
      margin-bottom: .41rem;
      p{
        font-size: .16rem;
        font-weight: 600;
      }
      h3{
        font-size: .21rem;
        font-weight: 800;
      }
   }
  }
} 