.relatives {
  .member{
    background: #F4F2F2;
    height: 1.64rem;
    padding: 0 .4rem;
    margin-top: .45rem;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      li {
        img {
          border-radius: 50%;
          width: .69rem;
          height: .69rem;
        }
        p {
          font: .12rem/.36rem "";
          text-align: center;
        }
      }
    }
  }
  .member_list {
    width: 100%;
    background: #F4F2F2;
    margin-top: .16rem;
    .biaoti {
      padding-left: .2rem;
      padding-top: .16rem;
    }
    ul {
      display: flex;
      padding: .2rem .2rem;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      a {
        text-align: center;
        p {
          width: .6rem;
          height: .6rem;
          background: #ccc;
          text-align: center;
          border-radius: 50%;
          font: .12rem/.6rem "";
          color: #fff;
        }
      }
    }
  }
  .fenxiang_list {
    width: 100%;
    background: #F4F2F2;
    margin-top: .16rem;
    .biaoti {
      padding-left: .2rem;
      padding-top: .16rem;
    }
    ul {
      display: flex;
      padding: .3rem .8rem;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      li {
        .wechartimg {
          width: .32rem;
          height: 100%;
        }
        .qqimg {
          width: .27rem;
          height: 100%;
        }
        .sinaimg {
          width: .37rem;
          height: 100%;
        }
      }
    }
  }
}