@import '@/lib/reset.scss';
body, html,.root, .App, .container {
  @include rect(100%, 100%);
}
.container {
  @include flexbox();
  @include flex-direction(column);
  .header {
    @include rect(100%, .45rem);
    text-align: center;
    background-color: #F479A4;
    h4{
      @include rect(100%, .45rem);
      line-height: .45rem;
      font-size: .16rem;
      @include text-color(#fff);
    }
  }
  .box {
    @include flexbox();
    @include flex-direction(column);
    @include rect(100%, 100%);
    background-color: #fff;
    .photo {
      @include flexbox();
      @include justify-content();
      @include flex-direction(column);
      @include align-items();
      padding: .2rem 0;
      img {
        margin-bottom: .05rem;
        border-radius: 50%;
        @include rect(.6rem, .6rem);
      }
      p{
        font-size: .12rem;
      }
    }
  }

  .list {
    padding: 0 .15rem ;
    @include rect(100%, 100%);
    ul{
      overflow: auto;
      @include rect(100%, 100%);
      a{
        @include flexbox();
        @include rect(100%, .25rem);
        border-bottom: 1px solid #ccc;
        margin: .05rem 0 .15rem;
        @include text-color(#CCCCCC);
        .circle{
          @include rect(.26rem, .26rem);
          border: 1px solid #ccc;
          border-radius: 50%;
        }
        i{
          img{
            @include rect(.25rem, .25rem);
          }
        }
        span{
          @include flex();
          font-size: .12rem;
          line-height: .25rem;
          padding: 0 0 0 .15rem;
          
        }
        s{
          img{
            @include rect(.09rem, .16rem);
          }
        }
      }
    }
  }
}