.home {
    padding:.45rem 0;
    .nav {
        display: flex;
        width: 100%;
        height: .8rem;
        justify-content: center;
        margin: .05rem 0 .2rem 0;

        a {
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            // justify-content: center;
            font-size: .12rem;
            color:#101010;
                text-align: center;
            img {
                display: inline-block;
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                margin: 0 0 .1rem .22rem;
            }
        }
    }

    .center {
        padding: .19rem;
        padding-top: 0;

        .title {
            display: flex;
            vertical-align: baseline;
            margin: .1rem 0;

            h3 {
                color: #101010;
                font-size: .16rem;
                width: 0.64rem;
                height: .22rem;
            }

            span {
                color: #c5c5c5;
                font-size: .14rem;
                height: .2rem;
                margin-left: .08rem;
            }
        }

        .bar {
            span {
                float: left;
                margin: 16px 0 0 18px;
                width: 1.32rem;
                height: .39rem;
            }

        }

        .bar,
        .bar2 {
            width: 3.35rem;
            height: 1.01rem;
            font-size: .12rem;
            color: #959292;
            border: #bbbbbb solid 1px;
            box-shadow: 1px 1px 1px 1px rgba(223, 223, 223, 1);
            background-color: #fff;
            margin: .1rem 0;

            img {
                width: 1rem;
                height: 1rem;
                float: left;
                display: block;
            }
        }

        .icons {
            border-radius: 50%;
            width: 0.35rem;
            height: .35rem;
            border: #bbb 1px solid;
            float: right;
            line-height: .32rem;
            text-align: center;
            margin: .26rem .24rem 0 0;

            i {
                margin-top: .05rem;
                color: #C5C5C5;

            }
        }

        .bar2 {
            position: relative;

            .bar2_right {
                float: left;
                padding-top: .1rem;
                margin-left: .25rem;
                text-align: left;
                color: #101010;
                font-size: .14rem;

                .last {
                    float: right;
                    width: 1.04rem;
                    height: 0.39rem;
                    line-height: .39rem;
                    text-align: center;
                    background-color: #E5E5E5;
                    color: #101010;
                    font-size: .14rem;
                    position: absolute;
                    right: 0;
                    bottom: .11rem;
                }
            }
        }

        .active {
            height: 1.2rem;
            background-color: #e5e5e5;
            margin-top: .1rem;
            box-shadow: 1px 1px 1px 1px rgba(223, 223, 223, 1);
            text-align: left;
            padding: .12rem 0 0 .68rem;
            position: relative;

            h1 {
                margin: 0;
                font-size: .2rem;
                color: #101010;
            }

            h2,
            h3 {
                color: #7d7d7d;
                font-size: .18rem;
            }

            h3 {
                font-size: .14rem;
            }

            .icons {
                width: .45rem;
                height: 0.45rem;
                line-height: .45rem;
                position: absolute;
                top: .15rem;
                right: 0;
                background-color: #fff;

                i {
                    margin-top: .08rem
                }
            }
        }

        .tab {
            display: flex;
            widows: 100%;

            span {
                flex: 1;
                height: .4rem;
                border: 1px #bbb solid;
                text-align: center;
                line-height: .4rem;
                font-size: .14rem;
                color: #101010;
                box-shadow: 1px 1px 1px 1px rgba(223, 223, 223, 1);
            }
        }
    }

    .hotsay {
        height: .3rem;
        line-height: .3rem;
        border-radius: .06rem;
        background-color: rgba(229, 229, 229, 1);
        color: rgba(16, 16, 16, 1);
        font-size: .14rem;
        text-align: center;
        font-family: Arial;
        border: 1px solid rgba(255, 255, 255, 0);
    }

    .hotsay_bar {
        width: 3.34rem;

        >p {
            display: inline-block;
            width: .6rem;
            height: .17rem;
            color: rgba(135, 144, 157, 1);
            font-size: .12rem;
            text-align: left;
            font-family: PingFangSC-regular;
            margin: .13rem 0;
        }

        .bar3 {   
            box-shadow: 1px 1px 1px 1px rgba(223, 223, 223, 1);
            width: 100%;
            height: 0.9rem;
            border: 1px #bbbbbb solid;

            .left {
                padding-left: .13rem;
                width: 1.53rem;
                height: 0.9rem;
                float: left;

                img {
                    width: 0.27rem;
                    height: 0.27rem;
                    border-radius: 50%;
                    margin: .05rem .05rem 0 0;
                }

                p {
                    display: inline-block;
                    width: .56rem;
                    height: .30rem;
                    line-height: .3rem;
                    color: rgba(229, 229, 229, 1);
                    font-size: 14px;
                    text-align: left;
                    font-family: PingFangSC-regular;
                }

                span {
                    display: block;
                    width: 1.17rem;
                    height: .41rem;
                    color: rgba(181, 181, 181, 1);
                    font-size: .13rem;
                    text-align: left;
                    font-family: PingFangSC-regular;
                    margin-left: .21rem;

                }
            }

            .right {
                float: right;
                width: 1.66rem;
                height: 0.9rem;

                img {
                    width: 1.66rem;
                    height: 0.9rem;
                }

            }
        }
    }
}