$icon:#F479A4;

.home {
    padding: .45rem 0;

    .nav {
        display: flex;
        width: 100%;
        height: .8rem;
        justify-content: center;
        margin: .05rem 0 .2rem 0;

        a {
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            // justify-content: center;
            font-size: .12rem;
            color: #101010;
            text-align: center;

            img {
                display: inline-block;
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                // margin: 0 0 .1rem .22rem;
                margin: 0 auto .1rem;
            }
        }
    }

    .center {
        padding: .16rem;
        padding-top: 0;

        .title {
            display: flex;
            vertical-align: baseline;
            margin: .1rem 0;

            h3 {
                color: #101010;
                font-size: .15rem;
                width: 0.64rem;
                height: .22rem;
            }

            span {
                color: #c5c5c5;
                font-size: .11rem;
                height: .2rem;
                margin-left: .08rem;
            }
        }

        .bar {
            span {
                float: left;
                margin: .13rem 0 0 .2rem;
                width: 1.23rem;
                height: .28rem;
            }

        }

        .bar,
        .bar2 {
            width: 3.43rem;
            height: .69rem;
            font-size: .11rem;
            color: #959292;
            border: #bbbbbb solid 1px;
            background-color: #fff;
            margin: .1rem 0;

            img {
                width: 1rem;
                height: .67rem;
                float: left;
                display: block;
            }
        }

        .icons {
            border-radius: 50%;
            width: 0.28rem;
            height: .28rem;
            float: right;
            line-height: .32rem;
            text-align: center;
            margin: .32rem .11rem 0 0;
            background-color: $icon;
            // background: $icon url('/icon_img/jian.png') no-repeat;
            /*    background-size: 70%;
            background-position: .03rem .05rem; */
            position: relative;

            img {
                width: .16rem;
                height: .15rem;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
        }

        .bar2 {
            position: relative;

            .bar2_right {
                float: left;
                padding-top: .1rem;
                margin-left: .2rem;
                text-align: left;
                color: #999999;
                font-size: .11rem;

                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 1.6rem;
                    color: #333333;
                    font-size: .12rem;

                }

                .last {
                    float: right;
                    width: .73rem;
                    height: .24rem;
                    line-height: .24rem;
                    text-align: center;
                    background-color: $icon;
                    color: #fff;
                    font-size: .11rem;
                    position: absolute;
                    right: 0.01rem;
                    bottom: .08rem;

                    width: .73rem;
                    border-radius: .03rem;
                }
            }
        }

        .active {
            height: 1.16rem;
            background: url(/img/jifen.png) no-repeat;
            background-size: 100%;
        }

        .tab {
            display: flex;
            background-color: $icon;
            border-radius: 0 0 .03rem .03rem;
            margin-bottom: .34rem;

            span {
                flex: 1;
                height: .4rem;
                text-align: center;
                line-height: .4rem;
                font-size: .12rem;
                color: #fff;
                font-family: PingFangSC-Regular;
                font-weight: bold;
                color: rgba(248, 244, 244, 1);
            }

            span:nth-of-type(1) {
                border-right: 1px #fff solid;
            }
        }
    }

    .hotsay {
        height: .3rem;
        line-height: .3rem;
        border-radius: .06rem;
        background-color: $icon;
        color: #FAF8F8;
        font-size: .13rem;
        text-align: center;
        font-family: Arial;
        border: 1px solid rgba(255, 255, 255, 0);
    }

    .hotsay_bar {
        width: 3.43rem;

        >p {
            display: inline-block;
            height: .17rem;
            color: rgba(135, 144, 157, 1);
            font-size: .11rem;
            text-align: left;
            font-family: PingFangSC-regular;
            margin: .16rem 0 .13rem 0;
        }

        .bar3 {
            width: 100%;
            height: 0.7rem;
            border: 1px #bbbbbb solid;

            .left {
                padding-left: .13rem;
                width: 1.53rem;
                float: left;

                img {
                    width: 0.3rem;
                    height: 0.3rem;
                    border-radius: 50%;
                    margin: .05rem .05rem 0 0;
                }

                p:nth-of-type(1) {
                    display: inline-block;
                    width: .56rem;
                    height: .3rem;
                    line-height: .3rem;
                    color: #666666;
                    text-align: left;
                    font-size: .11rem;
                    font-family: PingFangSC-Regular;
                    font-weight: bold;

                }

                p:nth-of-type(2) {
                    width: 1.61rem;
                    font-size: .11rem;
                    text-align: left;
                    margin-left: .35rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color:#CCCCCC;
                }
            }

            .right {
                float: right;
                width: 1.32rem;
                height: 0.69rem;

                img {
                    width: 1.32rem;
                    height: 0.69rem;
                }

            }
        }
    }
}