.banner{
    height:2rem;width:3.75rem;
    margin:.1rem 0;padding:0 .16rem;
    border-radius:.08rem;
    a{
     display: inline-block; width:3.75rem; height: 1.83rem;
     img{
        border-radius:.08rem;width:3.43rem;height: 1.83rem;
        background:url(http://iph.href.lu/375x200) no-repeat;
     }
    }
}