.banner{
    height:2rem;width:3.75rem;border-radius:8px;
    margin:.16rem 0;padding:0 .16rem;
    a{
     display: inline-block; width:3.75rem; height: 2rem;
     img{
        border-radius:.08rem;width:3.43rem;height: 2rem;
        background:url(http://iph.href.lu/375x200) no-repeat;
     }
    }
}